<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>test</mat-card-title>
      <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{task.id}} t {{task.description}} t {{task.status}}</p>
    
      <!-- <mat-form-field>
        <mat-label>{{task.status}}</mat-label>
        <mat-select>
            <mat-option []="food.value">{{food.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>bt1</button>
      <button mat-button>bt2</button>
    </mat-card-actions>
</mat-card>